@model LoginModel
<div class="col-md-6">
    <h1>Login</h1>
    <form class="form" method="post">
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label" asp-for="UserName"></label>
            <div class="col-sm">
                <input class="form-control" asp-for="UserName" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label" asp-for="Password"></label>
            <div class="col-sm">
                <input class="form-control" asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button class="btn btn-primary">Login</button>
    </form>
</div>
