<div>
    <h1 class="display-4">Asp.Net Core Authentication and Authorization</h1>
    @if(User.Identity!.IsAuthenticated)
    {
        <p>Welcome @User.Identity.Name</p>
        @if(User.IsInRole("admin"))
        {
            <p>You are logged in as an admin</p>
        }
        <form asp-action="Logout" asp-controller="Account">
            <button class="btn btn-secondary">Logout</button>
        </form>
    }
    else
    {
        <p>No authenticated user session, please <a asp-controller="Account" asp-action="Login">Login</a>.</p>
    }

    <p>More details are found on our <a asp-action="Secure">secure</a> page.</p>
</div>
